{{#partial "content"}}

<!--    <nav class="navbar navbar-light bg-light">-->
<!--        <a class="navbar-brand" href="tenant-form">Search </a>-->
<!--        <a class="navbar-brand" href="landlord-form">Post </a>-->
<!--    </nav>-->
<div class="cover">
<!--    <img src="/images/apt3.jpg" class="img1">-->
    <div class="p1">
    <p> PATA KEJA</p>
    <p>HOME OF AMAZING HOMES</p>
    </div>
</div>
<div class="navbar">
    <a href="tenant-form">Search </a> <a class="link1" href="landlord-form">Post </a>
</div>
    <div class="container">
        <h1 class="head2">Featured Apartments</h1>
        <span class="border"></span>
        <hr>
        <div class="row">
        <br>
        <div class="card-deck">
            <div class="col-md-4">
            <div class="card">
                <img src="/images/apt3.jpg" class="card-img-top apartments" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ksh 20,000 p.m</h5>
                    <p class="card-text">A large and spacious 2 bedroom apartment with a big kitchen and living room.</p>
                    <p class="card-text"><small class="text-muted">Westlands</small></p>
                </div>
            </div>
        </div>
            <div class="col-md-4">
            <div class="card">
                <img src="/images/apt4.jpg" class="card-img-top apartments"  alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ksh 25,000 p.m</h5>
                    <p class="card-text">A large and spacious 2 bedroom apartment with a big kitchen and living room.</p>
                    <p class="card-text"><small class="text-muted">Parklands</small></p>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="card">
                <img src="/images/apt5.jpg" class="card-img-top apartments" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ksh 30,000 p.m</h5>
                    <p class="card-text">A large and spacious 2 bedroom apartment with a big kitchen and living room.</p>
                    <p class="card-text"><small class="text-muted">Karen</small></p>
                </div>
            </div>
        </div>
        </div>
        </div>
        <hr>
            <div class="row">
                <div class="card-deck">
                    <div class="col-md-4">
                        <div class="card">
                            <img src="/images/apt3.jpg" class="card-img-top apartments" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Ksh 35,000 p.m</h5>
                                <p class="card-text">A large and spacious 2 bedroom apartment with a big kitchen and living room.</p>
                                <p class="card-text"><small class="text-muted">Westlands</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="/images/apt4.jpg" class="card-img-top apartments"  alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Ksh 40,000 p.m</h5>
                                <p class="card-text">A large and spacious 2 bedroom apartment with a big kitchen and living room.</p>
                                <p class="card-text"><small class="text-muted">Parklands</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="/images/apt5.jpg" class="card-img-top apartments" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Ksh 45,000 p.m</h5>
                                <p class="card-text">A large and spacious 2 bedroom apartment with a big kitchen and living room.</p>
                                <p class="card-text"><small class="text-muted">Karen</small></p>
                            </div>
                        </div>
            </div>
        </div>
<!--        <button type="button" class="btn btn-primary"><a href="tenant-form">Search </a> </button>-->
<!--        <button type="button" class="btn btn-primary"><a href="landlord-form">Post </a> </button>-->
        </div>
    </div>
    ​
{{/partial}}
​
{{> layout.hbs}}