{{#partial "content"}}
<div class="cover">
    <div class="p1">
    <p> PATA KEJA</p>
    <p>HOME OF AMAZING HOMES</p>
    </div>
</div>
<div class="navbar">
    <a href="/" class="link2">Pata Keja </a> <a href="tenant-form">Search </a> <a class="link1" href="landlord-form">Post </a>
</div>
    <div class="container container1">
        <h1 class="head2">Featured Apartments</h1>
        <span class="border"></span>
        <hr>
        <div class="row">
        <br>
        <div class="card-deck">
            <div class="col-lg-4">
            <div class="card">
                <img src="/images/apt3.jpg" class="card-img-top apartments" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ksh 20,000 p.m</h5>
                    <p class="card-text">A large and spacious 2 bedroom apartment with a big kitchen and living room.</p>
                    <p class="card-text"><small class="text-muted">Westlands</small></p>
                </div>
            </div>
        </div>
            <div class="col-lg-4">
            <div class="card">
                <img src="/images/apt4.jpg" class="card-img-top apartments"  alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ksh 25,000 p.m</h5>
                    <p class="card-text">A large and spacious 2 bedroom apartment with a big kitchen and living room.</p>
                    <p class="card-text"><small class="text-muted">Parklands</small></p>
                </div>
            </div>
            </div>
            <div class="col-lg-4">
            <div class="card">
                <img src="/images/apt5.jpg" class="card-img-top apartments" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ksh 30,000 p.m</h5>
                    <p class="card-text">A large and spacious 2 bedroom apartment with a big kitchen and living room.</p>
                    <p class="card-text"><small class="text-muted">Karen</small></p>
                </div>
            </div>
        </div>
        </div>
        </div>
        <hr>
            <div class="row">
                <div class="card-deck">
                    <div class="col-lg-4">
                        <div class="card">
                            <img src="/images/apt3.jpg" class="card-img-top apartments" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Ksh 35,000 p.m</h5>
                                <p class="card-text">A large and spacious 2 bedroom apartment with a big kitchen and living room.</p>
                                <p class="card-text"><small class="text-muted">Westlands</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <img src="/images/apt4.jpg" class="card-img-top apartments"  alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Ksh 40,000 p.m</h5>
                                <p class="card-text">A large and spacious 2 bedroom apartment with a big kitchen and living room.</p>
                                <p class="card-text"><small class="text-muted">Parklands</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <img src="/images/apt5.jpg" class="card-img-top apartments" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Ksh 45,000 p.m</h5>
                                <p class="card-text">A large and spacious 2 bedroom apartment with a big kitchen and living room.</p>
                                <p class="card-text"><small class="text-muted">Karen</small></p>
                            </div>
                        </div>
            </div>
        </div>
<!--        <button type="button" class="btn btn-primary"><a href="tenant-form">Search </a> </button>-->
<!--        <button type="button" class="btn btn-primary"><a href="landlord-form">Post </a> </button>-->
        </div>
        <h1 class="head2">What people are saying</h1>
        <hr>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <h4 class="head3">Westlands 🎉</h4>
                <p>"Curing transplant homeless anxiety, like a high-end personal shopper. It's brilliant. I'm a fan! 😊"</p>
                <p><small>Martin M.</small></p>
            </div>
            <div class="col-lg-4">
                <h4 class="head3">Karen 🌃</h4>
                <p>"I found an apartment that was not even on my radar. I love my new place."</p>
                <p><small>Linda N.</small></p>
            </div>
            <div class="col-lg-4">
                <h4 class="head3">Parklands 🌞</h4>
                <p>"Within two weeks, I am in the process of signing a lease and getting my new start of life to begin. Thanks Pata Keja for all the help.</p>
                <p><small>John K.</small></p>
            </div>
        </div>
        <br>
        <br>
        <footer class="foot">
            <h2 class="head8">Pata Keja</h2>
                    <h3 class="p2">Pata Keja is the easiest way to search for apartments for rent. Apply for the listings you want and post your rental properties.</h3>
                    <h3 class="p3"><small>© 2019 Pata Keja Inc.</small></h3>
        </footer>
    </div>
    ​
{{/partial}}
​
{{> layout.hbs}}