{{#block "header"}}

    <!DOCTYPE html>
    <html>
    <head>
        <title>{{#block "title"}}Pata Keja{{/block}}
        </title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link href="https://fonts.googleapis.com/css?family=Poppins:700&display=swap" rel="stylesheet">
        <link rel='stylesheet' href='css/styles.css'/>
    </head>
    <body>
{{/block}}

<!-- begin inner template-->
    {{#block "content"}}
    {{/block}}


<!-- end inner template-->
{{#block "footer"}}

    </body>
    </html>
{{/block}}