{{#partial "content"}}

    <div class="container">
        <h1>Search For An Apartment</h1>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Location</label>
                <input type="text" class="form-control" id="location" placeholder="Enter Location">
                <small id="location" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Rooms</label>
                <select class="form-control" id="rooms">
                    <option>1 bed</option>
                    <option>2 beds</option>
                    <option>3 beds</option>
                    <option>4 beds</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect2">Prices</label>
                <select class="form-control" id="prices">
                    <option>10K - 15K</option>
                    <option>15K - 20K</option>
                    <option>20K - 25K</option>
                    <option>25K - 30K</option>
                    <option>35K - 40K</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary"> Submit</button>
        </form>

    </div>
    ​
{{/partial}}
​
{{> layout.hbs}}